<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="dotnetcore-sdk" />
	<package id="visualstudio2019community" />
	<package id="visualstudio2019-workload-manageddesktop" />
	<package id="visualstudio2019-workload-netweb" />
	<package id="visualstudio2019-workload-azure" />
	<package id="notepadplusplus" />
	<package id="nodejs-lts" />
	<package id="yarn" />
	<package id="vscode" />
	<package id="python" version="3.9.0" />
	<package id="git" />
	<package id="7zip.install" />	
	<package id="drawio" />
	<package id="Firefox" />
	<package id="GoogleChrome" />
	<package id="meld" />
	<package id="nodejs-lts" />
	<package id="Opera" />
	<package id="paint.net" />
	<package id="postman" />
	<package id="vlc" />
	<package id="qbittorrent" />
	<package id="vmware-workstation-player" />
	<package id="WhatsApp" />
	<package id="yarn" />
</packages>
