<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="dotnetcore-sdk" version="3.1.411" />
	<package id="dotnetcore-sdk" version="2.2.402" />
	<package id="visualstudio2019community" />
	<package id="visualstudio2019-workload-manageddesktop" />
	<package id="visualstudio2019-workload-netweb" />
	<package id="visualstudio2019-workload-azure" />
	<package id="notepadplusplus" />
	<package id="nodejs-lts" />
	<package id="yarn" />
	<package id="vscode" />
	<package id="python" version="3.9.0" />
	<package id="git" />
</packages>